{# @var action \Sidus\AdminBundle\Admin\Action #}
{% extends action.baseTemplate %}

{% block container %}
    <div class="row">
        <div class="{{ form_container_class|default('col-lg-4') }}">
            <h2>
                {{ tryTrans(
                    [
                        'sidus.admin.'~admin.code~'.action.'~action.code~'.title',
                        'sidus.admin.action.'~action.code~'.title'
                    ], {
                        '%entity%': data is defined ? data|tostring
                    },
                    admin.code|humanize~' - '~action.code|humanize
                ) }}
            </h2>
            {{ form_start(form) }}
            {{ block('message') }}
            {{ form_widget(form) }}
            {{ block('form_actions') }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block message %}
    {% set message = tryTrans(
        [
            'sidus.admin.'~admin.code~'.action.'~action.code~'.message',
            'sidus.admin.action.'~action.code~'.message',
        ], {
            '%entity%': data is defined ? data|tostring
        }
    ) %}
    {% if message %}
        <div class="{{ message_class|default('alert alert-info') }}">
            {{ message }}
        </div>
    {% endif %}
{% endblock %}

{% block form_actions %}
    <div class="btn-group pull-right">
        {{ block('back_button') }}
        {{ block('submit_button') }}
    </div>
{% endblock %}

{% block back_button %}
    {% if listPath|default(false) %}
        <a href="{{ listPath }}" class="{{ back_class|default('btn btn-default') }}">
            {{ tryTrans(
                [
                    'sidus.admin.'~admin.code~'.action.'~action.code~'.button.back',
                    'sidus.admin.action.'~action.code~'.button.back',
                    'sidus.admin.button.back',
                ],
                {},
                'Back'
            ) }}
        </a>
    {% endif %}
{% endblock %}

{% block submit_button %}
    <button type="submit" class="{{ submit_class|default('btn btn-primary') }}">
        {{ tryTrans(
            [
                'sidus.admin.'~admin.code~'.action.'~action.code~'.button.submit',
                'sidus.admin.action.'~action.code~'.button.submit',
                'sidus.admin.button.submit',
            ],
            {},
            'Submit'
        ) }}
    </button>
{% endblock %}
